.superheroes-list{
    &__wrapper {
        padding: 1rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }   
    &__actions {
        display: flex;
        justify-content: end;
        align-items: center;
    }
}
.superheroes-table{
    border-radius: 0.5rem;
    &__cell {
        padding: 0.5rem;
        &-no-data{
            text-align: center;
            padding: 20px;
        }
    }
    &__actions{
        display: flex;
        gap: 0.5rem;
    }
    &__wrapper{
        .loading-overlay{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}
