<div class="superheroes-list__wrapper">
    <h1>Superhero list! 🦸</h1>
    <div class="superheroes-list__actions">
        <mat-form-field>
            <mat-label>Superhero search</mat-label>
            <input matInput type="text" [(ngModel)]="tableSearchValue" (ngModelChange)="onSearch()">
            @if (tableSearchValue()) {
            <button matSuffix matIconButton aria-label="Clear" (click)="tableSearchValue.set(''); onSearch();">
                <mat-icon>close</mat-icon>
            </button>
            }
        </mat-form-field>

        <button matButton="tonal" (click)="addSuperhero()">Add new superhero</button>
    </div>
    <div class="superheroes-table__wrapper">
        @if (isLoading()) {
        <div class="loading-overlay">
            <mat-spinner></mat-spinner>
        </div>
        }
        @else {
        <table mat-table [dataSource]="dataSource" class="superheroes-table">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let superhero" class="superheroes-table__cell"> {{superhero.name}} </td>
            </ng-container>
            <ng-container matColumnDef="powers">
                <th mat-header-cell *matHeaderCellDef> Powers </th>
                <td mat-cell *matCellDef="let superhero" class="superheroes-table__cell"> {{superhero.powers |
                    joinArray: ', '}}
                </td>
            </ng-container>
            <ng-container matColumnDef="universe">
                <th mat-header-cell *matHeaderCellDef> Universe </th>
                <td mat-cell *matCellDef="let superhero" class="superheroes-table__cell"> {{superhero.universe}} </td>
            </ng-container>
            <ng-container matColumnDef="biography">
                <th mat-header-cell *matHeaderCellDef> Biography </th>
                <td mat-cell *matCellDef="let superhero" class="superheroes-table__cell"> {{superhero.biography}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let superhero" class="superheroes-table__cell ">
                    <div class="superheroes-table__actions">
                        <button matButton="outlined" class="superheroes-table__action button-edit"
                            (click)="editSuperhero(superhero.id)">Edit</button>
                        <button matButton="outlined" color="warn" class="superheroes-table__action button-delete"
                            (click)="onDeleteSuperhero(superhero.id, superhero.name)">Delete</button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            @if(dataSource.data.length === 0 && !isLoading()) {
            <tr mat-row>
                <td mat-cell [attr.colspan]="displayedColumns.length" class="superheroes-table__cell-no-data">
                    There are no superheroes to show.
                </td>
            </tr>
            }
        </table>
        <mat-paginator [length]="dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>
        }
    </div>
</div>