@use '@angular/material' as mat;
@use './_theme-colors' as theme;
@include mat.core();

@mixin apply-dark-mode {
  color-scheme: dark;
}

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: theme.$primary-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  &.dark-mode {
    @include apply-dark-mode;
  }
}